@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 125 33% 95%;
    --foreground: 122 39% 20%;
    --card: 125 33% 100%;
    --card-foreground: 122 39% 20%;
    --popover: 125 33% 100%;
    --popover-foreground: 122 39% 20%;
    --primary: 122 39% 49%;
    --primary-foreground: 120 100% 98%;
    --secondary: 125 33% 90%;
    --secondary-foreground: 122 39% 20%;
    --muted: 125 20% 90%;
    --muted-foreground: 122 20% 45%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 20% 88%;
    --input: 125 20% 92%;
    --ring: 122 39% 49%;
    --chart-1: 122 39% 49%;
    --chart-2: 45 100% 51%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 173 58% 39%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 120 10% 5%;
    --foreground: 125 33% 95%;
    --card: 120 10% 10%;
    --card-foreground: 125 33% 95%;
    --popover: 120 10% 5%;
    --popover-foreground: 125 33% 95%;
    --primary: 122 39% 49%;
    --primary-foreground: 120 100% 98%;
    --secondary: 120 10% 15%;
    --secondary-foreground: 125 33% 95%;
    --muted: 120 10% 15%;
    --muted-foreground: 125 20% 65%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 15%;
    --input: 120 10% 15%;
    --ring: 122 39% 55%;
    --chart-1: 122 39% 49%;
    --chart-2: 45 100% 51%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 173 58% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
